/*Devin Wahaus, 4/1/2025*/
body {
	font-family: Arial, sans-serif;
	color: white;
	background-color: black;
}

header {
	display: flex;
	padding-left: 10px; 
}

#profile img {
	display: block;
	margin-inline: auto;
	position: relative;
	bottom: 57px;
}

nav ul {
	list-style-type: none;
	display: flex;
	padding-inline: 0px;
	margin-inline: 20%;
	justify-content: space-evenly;
	margin: 0px;
	margin-top: 8%;
	margin-inline: 30%;
}

nav li {
	display: block;
	text-align: center;
	width: 6em;
	padding-inline: 5px;
}

nav {
	 
}

a {
	color: white;
	text-decoration: none
}

a:hover {
	color: grey;
}

main {
	display: block;
	text-align: center;
	margin-inline: auto;
}

main img{
	display: flex;
	justify-content: center;
	background-color: white;
	margin-inline: auto;
}

#bio {
	display: grid;
	justify-content: center;
	grid-template-rows: repeat(2,auto);
	grid-template-columns: repeat(2,16%);
	grid-gap: 2em; gap: 2em;
}

#bio h4 {
	margin: 0px;
}

#bio ul {
	padding-left: 0px;

}

#bio ol {
	padding-left: 0px;
}

#bio li {
	white-space: nowrap;
	list-style-position: inside;
	text-align: left;
}